@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@media (prefers-color-scheme: light) {
  html {
    background-color: white;
  }
  .topbar {
    background-color: #CA4E38;
    display: block;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #1FBFAF;
  }
  .headerText {
    display: block;
    color: #151723;
  }
  
  .page {
    align-items: center;
    text-align: center;
  }
  
  .weather {
    display: block;
  }
  .weather p {
    margin: 3px;
  }
  
  h1 {
    color: #151723;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  h2 {
    color: #151723;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  p {
    color: #151723;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
  }
  ::selection {
    background-color: #1FBFAF;
  }
  a {
    color: #151723;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    text-decoration: none;
  }
  a:hover {
    background-color: #151723;
    color: white;
    text-decoration: none;
  }
  .pace {
  	-webkit-pointer-events: none;
  	pointer-events: none;
  
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	user-select: none;
  }
  
  .pace-inactive {
  	display: none;
  }
  
  .pace .pace-progress {
  	background: #1FBFAF;
  	position: fixed;
  	z-index: 2000;
  	top: 0;
  	right: 100%;
  	width: 100%;
  	height: 2px;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: #151723;
    color: white;
  }
  .topbar {
    background-color: #913727;
    display: block;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #178C81;
  }
  .headerText {
    display: block;
    color: white;
  }
  
  .page {
    align-items: center;
    text-align: center;
  }
  
  .weather {
    display: block;
  }
  .weather p {
    margin: 3px;
  }
  
  h1 {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  h2 {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  p {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
  }
  ::selection {
    background-color: #178C81;
  }
  a {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    text-decoration: none;
  }
  a:hover {
    background-color: white;
    color: #151723;
    text-decoration: none;
  }
  .pace {
  	-webkit-pointer-events: none;
  	pointer-events: none;
  
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	user-select: none;
  }
  
  .pace-inactive {
  	display: none;
  }
  
  .pace .pace-progress {
  	background: #178C81;
  	position: fixed;
  	z-index: 2000;
  	top: 0;
  	right: 100%;
  	width: 100%;
  	height: 2px;
  }
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 102px;
}